<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <form [formGroup]="myForm" >
            <div class="card-block">
              <h1>ECG Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" id="email" placeholder="Email or Phone Number"  formControlName="email">
                
                <p>{{email}}</p>
              </div>
        <div *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched" class="col-12 alert alert-danger">You must include a email.</div>
        <div *ngIf="myForm.controls['email'].hasError('pattern') && myForm.controls['email'].touched" class="col-12 alert alert-danger">You must include a valid email.</div>

              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
              </div>
              <div *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched" class="col-12 alert alert-danger">You must include a password.</div>
              <div *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched" class="col-12 alert alert-danger">Your password must be at least 6 characters long.</div>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-primary px-2" [disabled]="!myForm.valid" (click)="awsloginforscript()">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <a  (click)="fbLogin()" class="btn btn-block btn-social btn-facebook btn-flat">Sign in using Facebook</a>
              </div>
            </div>
            </form>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Register With ECG</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <!--<button type="button" class="btn btn-primary active mt-1" >Register Now!</button>-->
                <a class="btn btn-primary active mt-1" routerLinkActive="active" [routerLink]="['/pages/register']">Register Now!!</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
