<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn btn-info col-md-6" data-toggle="collapse" data-target="#demo">ECG Account Information/Settings</button>
  </div>

  <div id="demo" class="panel panel-default collapse">

    <div class="panel-body">

      <div class="well well-sm">
        <h4>{{title}}</h4>
      </div>

      <form>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="FName">First Name :</label>
                <div class="mar-min-5 font-10">(Recommended for New User)</div>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="FName" placeholder="Enter First Name">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="LName">Last Name :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="LName" placeholder="Enter Last Name">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="PNumber">Phone Number :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="PNumber" placeholder="Enter Phone Number">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="Email">Email :</label>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control" id="Email" placeholder="Enter Email">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="Pwd">Password :</label>
              </div>
              <div class="col-md-8">
                <input type="password" class="form-control" id="Pwd" placeholder="Enter Password">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="ConfirmPwd">Confirm Password :</label>
              </div>
              <div class="col-md-8">
                <input type="password" class="form-control" id="ConfirmPwd" placeholder="Enter Password Again">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="State">State :</label>
              </div>
              <div class="col-md-8">
                <div class="dropdown">
                  <button style="width: 100%" id="State" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select State<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sri Lanka</a></li>
                    <li><a href="#">India</a></li>
                    <li><a href="#">Pakistan</a></li>
                    <li><a href="#">United States</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="City">City :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="City" placeholder="Enter City">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="ZipCode">Zip Code :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="ZipCode" placeholder="Enter Zip Code">
              </div>
            </div>
          </div>
        </div>


        <div style="padding: 15px" class="row">
          <div class="col-sm-3"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <label for="Pro/Ser">Please Select the Product/Service :</label>
              </div>
              <div class="col-md-5">
                <div class="dropdown">
                  <button style="width: 100%" id="Pro/Ser" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Product/Service<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Services</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="padding: 15px" class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="row">
              <input type="checkbox"> I would like to have an assistance to complete the form
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn btn-info col-md-6" data-toggle="collapse" data-target="#demo1">Getting Started with ECG</button>
  </div>

  <div id="demo1" class="panel panel-default collapse">

    <div class="panel-body">



      <form>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="signature">Signature :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="signature" placeholder="Enter Signature">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="dealerid">Dealer ID :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="dealerid" placeholder="Enter Dealer ID">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="name">Name :</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="name" placeholder="Enter Phone Number">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="dealerarea">Dealer Notes :</label>
              </div>
              <div class="col-md-6">
                <textarea id="dealerarea" name="comment" form="usrform" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="date">Date :</label>
              </div>
              <div class="col-md-8">
                <input type="date" class="form-control" id="date" placeholder="**/**/****">
              </div>
            </div>
          </div>
        </div>

        <div style="margin: 10px" class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <label for="state">Dealer Sale Type :</label>
              </div>
              <div class="col-md-8">
                <div class="dropdown">
                  <button style="width: 100%" id="state" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Dealer Type<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dealer 1</a></li>
                    <li><a href="#">Dealer 2</a></li>
                    <li><a href="#">Dealer 3</a></li>
                    <li><a href="#">Dealer 4</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn   btn-info col-md-6" data-toggle="collapse" data-target="#demo2">Subscriber's Information/Monitoring Information</button>
  </div>

  <div id="demo2" class="panel panel-default collapse">

    <div class="panel-body">

      <form>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <label class="col-md-6">Dealer ID :</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Dealer ID">
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-md-6">Account Type :</label>
              <div class="col-md-6">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Account Type <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-md-6">XMIT ID :</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="XMIT ID ">
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-md-6">ORB ID :</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ORB ID">
              </div>
            </div>
          </div>
          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">First Name :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Last Name :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Email :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="Enter Email">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Date Of Birth :</label>
              <div class="col-md-8">
                <input class="form-control" type="date" placeholder="**/**/****">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Primary Phone Number :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="Enter Phone Number">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Secondary Phone Number :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Phone Number">
              </div>
            </div>
          </div>


          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Time Zone :</label>
              <div class="col-md-8">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Central <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">5.00+</a></li>
                    <li><a href="#">5.30+</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Physical Address :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Address">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">APT/UNIT# :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">State :</label>
              <div class="col-md-8">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Arizona <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Los Angeles</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">City :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="Enter City Name">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Zip Code :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Zip Code">
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="well well-sm">
                <h4>Setup Information</h4>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-4">Setup/Installation Type </label>
                  <div class="col-md-8">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Other          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Example 1</a></li>
                        <li><a href="#">Example 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-4">Name of Person doing Setup</label>
                  <div class="col-md-8">
                    <input class="form-control" type="email" placeholder="Enter Person Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-md-4">Zip Code :</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" placeholder="Enter Zip Name">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="well well-sm">
                <h4>Phone Connection Information</h4>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-4">Standard Phone Line?</label>
                  <div class="col-md-8">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select Phone Line <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Example 1</a></li>
                        <li><a href="#">Example 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="col-md-4">DSL?</label>
                  <div class="col-md-8">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select Phone Line <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Example 1</a></li>
                        <li><a href="#">Example 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-4">Phone Service Provider </label>
                  <div class="col-md-8">
                    <input class="form-control" type="email" placeholder="Enter Service Provider">
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="well well-sm">
                <h4>Medication Reminder Time</h4>
              </div>
              <div style="margin: 10px" class="row">
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="col-md-6">12.10 : </label>
                  <div class="col-md-6">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select - <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Type 1</a></li>
                        <li><a href="#">Type 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="well well-sm">
                <h4>InActivity Sensor Setting</h4>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <input type="checkbox"> Standard to 5am to 10am AND 5pm to 10pm
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <input type="checkbox"> Custom
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-3"><input type="textbox" placeholder="12.10"></div>
                    <div class="col-md-3"><label> AM to </label></div>
                    <div class="col-md-3"><input type="textbox" placeholder="12.10"></div>
                    <div class="col-md-3"><label> AM </label></div>
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-3"><input type="textbox" placeholder="12.10"></div>
                    <div class="col-md-3"><label> PM to </label></div>
                    <div class="col-md-3"><input type="textbox" placeholder="12.10"></div>
                    <div class="col-md-3"><label> PM </label></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn   btn-info col-md-6" data-toggle="collapse" data-target="#demo4">Medical Information</button>
  </div>

  <div id="demo4" class="panel panel-default collapse">

    <div class="panel-body">

      <form>
        <div class="container-fluid">
          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-6">Primary Physician's Name' :</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Enter Physician's Name'">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-6">Primary Physician's Phone Number :</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Enter Phone Number ">
              </div>
            </div>
          </div>
          <div style="margin: 10px" class="row">
            <label class="col-md-4">Preferred hospital :</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Enter Preferred Hospital">
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Major Health Concerns :</label>
              <div class="col-md-8">
                <textarea class="form-control" type="" placeholder="Enter Health Concerns"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Special Core Instructions :</label>
              <div class="col-md-8">
                <textarea class="form-control" type="" placeholder="Enter Special Core Instructions"></textarea>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="well well-sm">
                <h4>Responsible Parties</h4>
              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-3"><label>Name</label></div>
                <div class="col-md-3"><label>Mailling Address</label></div>
                <div class="col-md-3"><label>Phone</label></div>
                <div class="col-md-3"><label>Relationship</label></div>
              </div>
              <div style="margin: 10px" class="row">
                <div class="col-md-3"><input type="text" placeholder="Name"></div>
                <div class="col-md-3"><input type="text" placeholder="Mailling Address"></div>
                <div class="col-md-3"><input type="text" placeholder="Phone"></div>
                <div class="col-md-3"><input type="text" placeholder="Relationship"></div>
              </div>
              <div style="margin: 10px" class="row">
                <div class="col-md-3"><input type="text" placeholder="Name"></div>
                <div class="col-md-3"><input type="text" placeholder="Mailling Address"></div>
                <div class="col-md-3"><input type="text" placeholder="Phone"></div>
                <div class="col-md-3"><input type="text" placeholder="Relationship"></div>
              </div>
              <div style="margin: 10px" class="row">
                <div class="col-md-3"><input type="text" placeholder="Name"></div>
                <div class="col-md-3"><input type="text" placeholder="Mailling Address"></div>
                <div class="col-md-3"><input type="text" placeholder="Phone"></div>
                <div class="col-md-3"><input type="text" placeholder="Relationship"></div>
              </div>
              


              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-6">Spouse Name' :</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Enter Spouse Name'">
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-md-6">Spouse's' Date of Birth :</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Enter Spouse's DOB ">
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">

                <div class="col-sm-12"><input type="checkbox"> By checking this box and signing below, I agree to the terms and conditions (Click
                  here to read the <a href="#">Terms and conditions</a> of the LSM Monitoring agreement and monthly monitoring
                  fee)
                </div>

              </div>

              <div style="margin: 10px" class="row">
                <div class="col-md-6">
                  <label class="col-md-6">Signature :</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Enter Signature">
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-md-6">Date Signed :</label>
                  <div class="col-md-6">
                    <input type="date" class="form-control" placeholder="**/**/****">
                  </div>
                </div>
              </div>

              <div style="margin: 10px" class="row">

                <div class="col-md-12">
                  <label class="col-md-4">Signature's Full Name :</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter Signature's Full Name">
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn   btn-info col-md-6" data-toggle="collapse" data-target="#demo6">Billing Information</button>
  </div>

  <div id="demo6" class="panel panel-default collapse">

    <div class="panel-body">

      <form>
        <div class="container-fluid">

          <div style="margin: 10px" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="fieldset">
                <div class="top-heading">Select/Adding Billing Address</div>
                <label>Select Billing Address</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">ECG Account Information Address<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Physical Address :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="34B, Kingston Road">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">APT/Unit# :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="20">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Billing Phone Number :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="4 15-504-2030">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">City :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Pheonix">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">State :</label>
              <div class="col-md-8">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Arizona <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">ZipCode :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="85013">
              </div>
            </div>
          </div>











        </div>
      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn   btn-info col-md-6" data-toggle="collapse" data-target="#demo7">Delivary Information</button>
  </div>

  <div id="demo7" class="panel panel-default collapse">

    <div class="panel-body">

      <form>
        <div class="container-fluid">

          <div style="margin: 10px" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="fieldset">
                <div class="top-heading">Select/Add Delivery Information</div>
                <label>Select Billing Address</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Add New Billing Address<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Delivery Address :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Address">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">APT/Unit# :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Unit Number">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">City :</label>
              <div class="col-md-8">
                <input class="form-control" type="email" placeholder="Enter City">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">State :</label>
              <div class="col-md-8">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Please Select State<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Zip Code :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Zip Code">
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Package Recipient Name :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Recipient Name">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Package Recipient Phone :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Recipient Phone">
              </div>
            </div>
          </div>


        </div>
      </form>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div style="margin: 10px" class="row">
    <div class="col-md-3"></div>
    <button type="button" class="btn   btn-info col-md-6" data-toggle="collapse" data-target="#demo8">Payment Information</button>
  </div>

  <div id="demo8" class="panel panel-default collapse">

    <div class="panel-body">

      <form>
        <div class="container-fluid">

          <div style="margin: 20px" class="row">
            <p>How would you like to pay?(Choose a method pay for your monthly service. If you order extra equipment, Please
              indicate how you wish to pay for the accessories)</p>
          </div>

          <div style="margin: 20px" class="row">

            <div class="col-md-6"><input type="checkbox"> Invoice Only/Bill Me(Not Recommended)</div>

          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="fieldset">
                <div class="top-heading">Select/Add Payment</div>
                <label>Please select Payment Option</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Add New Payment Method<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div style="margin: 10px" class="row">
            <div class="col-md-6">
              <label class="col-md-4">Payment Name :</label>
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Enter Payment Name">
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4">Payment Type :</label>
              <div class="col-md-8">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">-Select Payment Type<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div style="margin: 20px" class="row">

            <div class="col-md-3"><input type="checkbox"> <img src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_6.gif"
                style="width:80px;height:50px;"><b> Visa</b></div>
            <div class="col-md-3"><input type="checkbox"> <img src="http://seeklogo.com/images/M/mastercard-logo-69730E542B-seeklogo.com.gif" style="width:80px;height:50px;"><b> Master</b></div>
            <div class="col-md-3"><input type="checkbox"> <img src="https://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/0022/0675/brand.gif?itok=gEXBRqdH"
                style="width:80px;height:50px;"><b> Discover</b></div>
            <div class="col-md-3"><input type="checkbox"> <img src="http://www.sucursales.com.mx/wp-content/uploads/2014/01/amex-logo.jpg" style="width:80px;height:50px;"><b> Amer Exp</b></div>

          </div>

          <div style="margin: 20px" class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4"><label>Credit Card Number:</label></div>
                <div class="col-md-8"><input type="text" class="form-control" placeholder="Enter Credit Card Number"></div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4"><label>Exp Date :</label></div>
                <div class="col-md-4"><input type="number" class="form-control" placeholder="**"></div>
                <div class="col-md-4"><input type="number" class="form-control" placeholder="**"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-6"><label>CSV :</label></div>
                <div class="col-md-6"><input type="number" class="form-control" placeholder="***"></div>
              </div>
            </div>
          </div>

          <div style="margin: 10px" class="row">
            <label class="col-md-3">Name as it appears on card :</label>
            <div class="col-md-4">
              <input class="form-control" type="text" placeholder="Enter Name">
            </div>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>