input.ng-invalid {
    border-top: 5px solid red;
}
input.ng-valid {
    border-top: 5px solid green;
}
textarea.ng-invalid {
    border-top: 5px solid red;
}
textarea.ng-valid {
    border-top: 5px solid green;
}

/*select.ng-invalid {
    border-top: 5px solid red !important;
}*/
/*select.ng-invalid.ng-untouched{
 
   border-top: 5px solid red !important; ;
}*/
select.ng-untouched .ng-invalid , select.ng-touched.ng-invalid{
 
   border-top: 5px solid red !important; ;
}

/*ng-invalid ng-touched*/

select.ng-touched.ng-valid {
    border-top: 5px solid green !important; 
}
.ng-untouched{
  border-top: 5px solid #e1e6ef !important; 
}

/*.form-group.required .control-label::after {
  content:"*";
  color:red;
}*/
.validationrequire::after{
  content:"*";
  color:red;
}
.bg_header_register{
  background-color: #20a8d8;
  color: white;
  font-weight: bold;

}

.leftbox{
  float:left;
  display: block;
 width: 3%;
 padding-top: 5px;
}
.rightbox{
  float:left;
  width: 95%;
  display: block;
}